<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="../../../assets/user.svg" id="icon" alt="User Icon" /> -->
    </div>




    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="tryLogin()">
      <input type="text" id="email" class="fadeIn second" formControlName="email" placeholder="email">
      <input type="text" id="password" class="fadeIn third" formControlName="password" placeholder="password">
      <input *ngIf="!loading" type="submit" class="fadeIn fourth" value="Log In">
      <div style="margin:20px">
        <img *ngIf="loading" style="width:50px" src="../../../assets/images/loading.svg">

      </div>
    </form>


    <!-- <div id="formFooter" class="fadeIn fifth">
      <a [routerLink]="[ '/signup']">Don't have an account?</a>
    </div> -->




  </div>
</div>