<section id="two" class="wrapper style2 spotlights">
  <ng-container *ngFor="let course of (courses | async)">
    <section *ngIf="course.enabled == 1">
      <div class="content">
        <div class="inner">
          <h2>{{course.title}}</h2>
          <p>{{course.description}}</p>
          <ng-container *ngIf="course.buttonUrl.length > 0">
            <a class="button" href="{{ course.buttonUrl }}" target="_blank">Link</a>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>
</section>