#wrapper{
    margin-left: 23em;
    // padding-top: 3.5em;

    
    @media screen and (max-width: 736px) {
        margin-left: 2.5em;
        padding-top: 3em;
    }

    @media screen and (max-width: 1280px) {
        margin-left: 0;
        padding-top: 3em;
    }

}
