<h1>{{pageOn.title}}</h1>

<div class="addbutton">
    <button mat-raised-button>+ Item</button>
</div>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th>URL</th>
      <th>Enabled</th>
      <th></th>
    </tr>
  </thead>
  <tbody >


    <tr *ngFor="let project of (projects | async)">

      <td>{{ project.title }}</td>
      <td>{{ project.description }}</td>
      <td><i class="material-icons">{{project.icon}}</i></td>
      <td><a href="{{ project.buttonUrl }}" target="_blank">Click Here</a></td>
      <th>{{ project.enabled }}</th>
      <th><button mat-raised-button (click)="editItem(project.id)">Edit</button></th>

    </tr>


  </tbody>

</table>