<h1>{{pageOn.title}}</h1>

<div class="addbutton">
    <button mat-raised-button (click)="addItem()">+ Item</button>
</div>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th>URL</th>
      <th>Live</th>
      <th></th>
    </tr>
  </thead>
  <tbody >


    <tr *ngFor="let project of (projects | async)">

      <td>{{ project.title }}</td>
      <td>{{ project.description }}</td>
      <td><i class="material-icons">{{project.icon}}</i></td>
      <td><a *ngIf="project.buttonUrl.length > 0" href="{{ project.buttonUrl }}" target="_blank">Click Here</a></td>
      <th><span *ngIf="project.enabled == '1'">Yes</span><span *ngIf="project.enabled != '1'">No</span></th>
      <th><button mat-raised-button (click)="editItem(project.id)">Edit</button></th>

    </tr>


  </tbody>

</table>