#intro {
    background-attachment: fixed;
    // background-image: url(../../../assets/images/pic01.jpg);
    background-color: #D0B8AC;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.wrapper.fullscreen {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
}

.inner{
    padding:10rem;

    @media screen and (max-width: 736px) {
        padding:10rem 0 0 5rem;
    }
}