<h1>Settings</h1>

Colors

<div>
    <div class="color-pal" style="width:100px; height:100px; background-color: #000000">#000000</div>
    <div class="color-pal" style="width:100px; height:100px; background-color: #92DCE5">#92DCE5</div>
    <div class="color-pal" style="width:100px; height:100px; background-color: #eee5e9">#EEE5E9</div>
    <div class="color-pal" style="width:100px; height:100px; background-color: #7C7C7C">#7C7C7C</div>
    <div class="color-pal" style="width:100px; height:100px; background-color: #D0B8AC">#D0B8AC</div>
</div>
