<h1>Edit</h1>

<div class="container-item">
  <form *ngIf="displayForm" [formGroup]="editDocument" (ngSubmit)="onSubmit()">

    <mat-form-field class="container-full-width-items" appearance="standard">
      <input matInput id="title" placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-select id="icon" formControlName="icon" placeholder="Select">
        <mat-option value="option">Option</mat-option>
        <mat-option value="cloud"><i class="material-icons">cloud</i></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="container-full-width-items" appearance="standard">
      <input matInput id="buttonUrl" placeholder="Link To Site" formControlName="buttonUrl">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput id="description" formControlName="description" placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select id="enabled" formControlName="enabled" placeholder="Live on site?">
          <mat-option value="1">True</mat-option>
          <mat-option value="0">false</mat-option>
        </mat-select>
      </mat-form-field>


    <div>
      <button mat-stroked-button color="primary" [disabled]="!editDocument.valid" type="submit">Save</button>
      <button mat-stroked-button color="warning" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>