<h1>Edit</h1>




<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th>URL</th>
      <th>Enabled</th>
      <th></th>
    </tr>
  </thead>
  <tbody >


    <tr *ngFor="let project of (projects | async)">

      <td>{{ project.title }}</td>
      <td>{{ project.description }}</td>
      <td><i class="material-icons">{{project.icon}}</i></td>
      <td><a href="{{ project.buttonUrl }}" target="_blank">Click Here</a></td>
      <th>{{ project.enabled }}</th>
      <th><button mat-raised-button (click)="editItem(project.id)">Edit</button></th>

    </tr>


  </tbody>

</table>

<form [formGroup]="editDocument" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="submit" [disabled]="!editDocument.valid">Save</button>
        <!-- <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button> -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" id="name">
        </div>
        
      </div>
    </div>
  </form>