<h1>Edit</h1>

<div class="container-item">
  <form *ngIf="displayForm" [formGroup]="editDocument" (ngSubmit)="onSubmit()">

    <mat-form-field class="container-full-width-items" appearance="standard">
      <input matInput id="title" placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-select id="icon" formControlName="icon" placeholder="Select">
        <mat-option value="option">Option</mat-option>
        <mat-option value="cloud"><i class="material-icons">cloud</i></mat-option>

        <mat-option value="build"><i class="material-icons">build</i></mat-option>
        <mat-option value="android"><i class="material-icons">android</i></mat-option>
        <mat-option value="assignment"><i class="material-icons">assignment</i></mat-option>
        <mat-option value="code"><i class="material-icons">code</i></mat-option>
        <mat-option value="face"><i class="material-icons">face</i></mat-option>
        <mat-option value="settings"><i class="material-icons">settings</i></mat-option>
        <mat-option value="work"><i class="material-icons">work</i></mat-option>


      </mat-select>
    </mat-form-field>

    <mat-form-field class="container-full-width-items" appearance="standard">
      <input matInput id="buttonUrl" placeholder="Link To Site" formControlName="buttonUrl">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput id="description" formControlName="description" placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select id="enabled" formControlName="enabled" placeholder="Live on site?">
          <mat-option value="1">Yes</mat-option>
          <mat-option value="0">No</mat-option>
        </mat-select>
      </mat-form-field>


    <div *ngIf="!loading">
      <button mat-stroked-button color="primary" [disabled]="!editDocument.valid" (click)="submit()" type="button">Save</button>
      <button mat-stroked-button color="warning" (click)="cancel()">Cancel</button>
      <button mat-stroked-button color="danger" *ngIf="!addItemCheck" (click)="deleteItem()"  type="button">Delete</button>
    </div>
    <div *ngIf="loading">
      <img src="../../../assets/images/loading.svg" style="width:10%">
    </div>

  </form>
</div>