<!-- one -->
<section id="one" class="wrapper style2 fade-up">
    <div class="inner">
      <h2>Projects Worked On</h2>
      <p>Here are some of the projects i've built</p>
      <div class="features">
        <section>
          <img class="image-code-icon" src="images\code.svg">
          <h3>E1 Scrapper</h3>
          <p>A tool that scrapes my works old Enrol forms and changes the data into a JSON file accepted
            by our new system.</p>
          <ul>
            <li>Vue JS</li>
            <li>Javascript</li>
          </ul>
          <ul class="actions">
            <li><a href="http://e1scraper.patricklabes.com.au" target="_blank" class="button">Open
                project</a></li>
          </ul>
        </section>
        <section>
          <img class="image-code-icon" src="images\code.svg">
          <h3>Email Helper</h3>
          <p>A tool I use for email templates so I dont need to repeate standard queries</p>
          <ul>
            <li>Angular</li>
            <li>RxJS</li>
            <li>Firebase</li>
          </ul>
          <ul class="actions">
            <li><a href="http://emailhelper.patricklabes.com.au/" target="_blank" class="button">Open
                project</a></li>
          </ul>
        </section>
        <section>
          <img class="image-code-icon" src="images\code.svg">
          <h3>Enrol 1 Tools</h3>
          <p>A tool to assist with building Enrol forms for work. It is slowly being depricated as we move
            over to new Enrol at work</p>
          <ul>
            <li>Vue Js</li>
            <li>Javascript</li>
          </ul>
          <ul class="actions">
            <li><a href="http://e1tools.patricklabes.com.au/" target="_blank" class="button">Open
                project</a></li>
          </ul>
        </section>
        <section>
          <img class="image-code-icon" src="images\code.svg">
          <h3>App Builder</h3>
          <p>A tool I built to assist with building app, This will generate the JSON file and the CSS for
            the app</p>
          <ul>
            <li>Vue Js</li>
            <li>Javascript</li>
          </ul>
          <ul class="actions">
            <li><a href="http://builder.patricklabes.com.au/" target="_blank" class="button">Open
                project</a></li>
          </ul>
        </section>
        <section>
          <img class="image-code-icon" src="images\code.svg">
          <h3>Wordpress Site</h3>
          <p>Website I built for a client using wordpress. The client is using this site as a way of
            offering her music courses though learnpress</p>
          <ul>
            <li>Wordpress</li>
            <li>Learnpress</li>
          </ul>
          <ul class="actions">
            <li><a href="http://musiciansmentor.com.au/" target="_blank" class="button">Open project</a>
            </li>
          </ul>
        </section>
        <section></section>
      </div>
    </div>
  </section>
